In [1]:
%matplotlib inline

# # silence warnings
# import warnings
# warnings.filterwarnings('ignore')
import pyfolio as pf
import pandas_datareader as pdr
import pandas_datareader.data as web
import os
import quandl

In [2]:
api_key = os.environ["QUANDL_API_KEY"]
quandl.ApiConfig.api_key = api_key

In [3]:
symbol = 'FB'  # or 'AAPL.US'
df = web.DataReader(symbol, 'quandl', '2012-05-22', '2014-05-16', access_key=api_key)
df.tail()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2012-05-29,31.48,31.69,28.65,28.84,78063400.0,0.0,1.0,31.48,31.69,28.65,28.84,78063400.0
2012-05-25,32.90,32.95,31.11,31.91,37149800.0,0.0,1.0,32.90,32.95,31.11,31.91,37149800.0
2012-05-24,32.95,33.21,31.77,33.03,50237200.0,0.0,1.0,32.95,33.21,31.77,33.03,50237200.0
2012-05-23,31.37,32.50,31.36,32.00,73600000.0,0.0,1.0,31.37,32.50,31.36,32.00,73600000.0
2012-05-22,32.61,33.59,30.94,31.00,101786600.0,0.0,1.0,32.61,33.59,30.94,31.00,101786600.0

In [4]:
from empyrical.utils import get_utc_timestamp, get_returns_cached, _1_bday_ago, data_path
from pandas_datareader import data as web
from datetime import datetime
import pandas as pd

def get_symbol_returns_from_quandl(symbol, start=None, end=None):
    """
    Wrapper for pandas.io.data.get_data_quandl().
    Retrieves prices for symbol from quandl and computes returns
    based on adjusted closing prices.

    Parameters
    ----------
    symbol : str
        Symbol name to load, e.g. 'SPY'
    start : pandas.Timestamp compatible, optional
        Start date of time period to retrieve
    end : pandas.Timestamp compatible, optional
        End date of time period to retrieve

    Returns
    -------
    pandas.DataFrame
        Returns of symbol in requested period.
    """

    px = web.get_data_quandl(symbol, start=start, end=end)
    rets = px[['AdjClose']]
    rets = rets.shift(-1)
    rets.iloc[-1]['AdjClose'] = px.tail(1)['AdjOpen']
    rets = rets.shift(1) / rets - 1
    rets = rets.dropna()
    rets.index = rets.index.to_datetime()
    rets.index = rets.index.tz_localize("UTC")
    rets.columns = [symbol]
    return rets

def returns_func(symbol, start=None, end=None):
    """
    Gets returns for a symbol.
    Queries Quandl Finance. Attempts to cache SPY.

    Parameters
    ----------
    symbol : str
        Ticker symbol, e.g. APPL.
    start : date, optional
        Earliest date to fetch data for.
        Defaults to earliest date available.
    end : date, optional
        Latest date to fetch data for.
        Defaults to latest date available.

    Returns
    -------
    pd.Series
        Daily returns for the symbol.
         - See full explanation in tears.create_full_tear_sheet (returns).
    """

    if start is None:
        start = '1/1/1970'
    if end is None:
        end = _1_bday_ago()

    start = get_utc_timestamp(start)
    end = get_utc_timestamp(end)

    if symbol == 'SPY':
        filepath = data_path('spy.csv')
        rets = get_returns_cached(filepath,
                                  get_symbol_returns_from_quandl,
                                  end,
                                  symbol='SPY',
                                  start=start,
                                  end=get_utc_timestamp(datetime.now()))
        
        try:
            rets = rets[rets.index.isin(pd.bdate_range(start, end))]
        except Exception as e:
            rets = rets[start:end]
    else:
        rets = get_symbol_returns_from_quandl(symbol, start=start, end=end)
    rets.sort_index(inplace=True)
    return rets[symbol]

In [5]:
pf.utils.register_return_func(returns_func)

In [6]:
stock_rets = pf.utils.get_symbol_rets('FB', start='2012-05-22', end='2014-05-16')

In [7]:
stock_rets

Date
2012-05-22 00:00:00+00:00   -0.049371
2012-05-23 00:00:00+00:00    0.032258
2012-05-24 00:00:00+00:00    0.032188
2012-05-25 00:00:00+00:00   -0.033909
2012-05-29 00:00:00+00:00   -0.096208
2012-05-30 00:00:00+00:00   -0.022538
2012-05-31 00:00:00+00:00    0.050018
2012-06-01 00:00:00+00:00   -0.063514
2012-06-04 00:00:00+00:00   -0.029582
2012-06-05 00:00:00+00:00   -0.038327
2012-06-06 00:00:00+00:00    0.036376
2012-06-07 00:00:00+00:00   -0.018650
2012-06-08 00:00:00+00:00    0.030027
2012-06-11 00:00:00+00:00   -0.003506
2012-06-12 00:00:00+00:00    0.014627
2012-06-13 00:00:00+00:00   -0.004745
2012-06-14 00:00:00+00:00    0.037404
2012-06-15 00:00:00+00:00    0.060940
2012-06-18 00:00:00+00:00    0.046512
2012-06-19 00:00:00+00:00    0.015950
2012-06-20 00:00:00+00:00   -0.009746
2012-06-21 00:00:00+00:00    0.007595
2012-06-22 00:00:00+00:00    0.038003
2012-06-25 00:00:00+00:00   -0.029955
2012-06-26 00:00:00+00:00    0.032439
2012-06-27 00:00:00+00:00   -0.026284
2012-06-28 00:00:00+00:00   -0.026993
2012-06-29 00:00:00+00:00   -0.008450
2012-07-02 00:00:00+00:00   -0.010420
2012-07-03 00:00:00+00:00    0.013942
                               ...
2014-04-03 00:00:00+00:00   -0.051499
2014-04-04 00:00:00+00:00   -0.046075
2014-04-07 00:00:00+00:00    0.003542
2014-04-08 00:00:00+00:00    0.021775
2014-04-09 00:00:00+00:00    0.072519
2014-04-10 00:00:00+00:00   -0.052075
2014-04-11 00:00:00+00:00   -0.010649
2014-04-14 00:00:00+00:00    0.006151
2014-04-15 00:00:00+00:00    0.003396
2014-04-16 00:00:00+00:00    0.010662
2014-04-17 00:00:00+00:00   -0.013061
2014-04-21 00:00:00+00:00    0.039023
2014-04-22 00:00:00+00:00    0.029231
2014-04-23 00:00:00+00:00   -0.026497
2014-04-24 00:00:00+00:00   -0.007986
2014-04-25 00:00:00+00:00   -0.051914
2014-04-28 00:00:00+00:00   -0.027205
2014-04-29 00:00:00+00:00    0.035803
2014-04-30 00:00:00+00:00    0.028031
2014-05-01 00:00:00+00:00    0.022917
2014-05-02 00:00:00+00:00   -0.011284
2014-05-05 00:00:00+00:00    0.012570
2014-05-06 00:00:00+00:00   -0.043940
2014-05-07 00:00:00+00:00   -0.019477
2014-05-08 00:00:00+00:00   -0.010978
2014-05-09 00:00:00+00:00    0.008457
2014-05-12 00:00:00+00:00    0.045248
2014-05-13 00:00:00+00:00    0.000000
2014-05-14 00:00:00+00:00   -0.010028
2014-05-15 00:00:00+00:00   -0.022134
Name: FB, Length: 498, dtype: float64

In [19]:
[stock_rets.size, stock_rets.name, stock_rets.index, stock_rets.dtype]

[498,
 'FB',
 DatetimeIndex(['2012-05-22', '2012-05-23', '2012-05-24', '2012-05-25',
                '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01',
                '2012-06-04', '2012-06-05',
                ...
                '2014-05-02', '2014-05-05', '2014-05-06', '2014-05-07',
                '2014-05-08', '2014-05-09', '2014-05-12', '2014-05-13',
                '2014-05-14', '2014-05-15'],
               dtype='datetime64[ns, UTC]', name='Date', length=498, freq=None),
 dtype('float64')]

In [1]:
import pandas as pd
import datetime
import requests
def get_yahoo_finance_data(symbol, start=None, end=None, interval='1d'):
    end = pd.to_datetime(end) or datetime.datetime.utcnow()
    start = pd.to_datetime(start) or end - datetime.timedelta(days=24)
    url = 'https://query1.finance.yahoo.com/v8/finance/chart/{symbol}?symbol={symbol}&period1={start}&period2={end}&interval={interval}&includePrePost=true&events=div%7Csplit%7Cearn&corsDomain=finance.yahoo.com'.format(
        symbol=symbol,
        start=start.strftime('%s'),
        end=end.strftime('%s'),
        interval=interval
    )
    resp = requests.get(url)
    resp.raise_for_status()
    
    rt = resp.json()
    
    return resp.json()

def get_correct_data_format(resp_json):
    symbol = rtjson['chart']['result'][0]['meta']['symbol']
    timestamps = rtjson['chart']['result'][0]['timestamp']
    open_price = rtjson['chart']['result'][0]['indicators']['quote'][0]['open']
    close_price = rtjson['chart']['result'][0]['indicators']['quote'][0]['close']
    
    ts = pd.DataFrame({'open' : pd.Series(open_price, index=pd.to_datetime(timestamps, unit='s')),
                       'close' : pd.Series(close_price, index=pd.to_datetime(timestamps, unit='s'))})
    ts.name = symbol
    ts.index = pd.to_datetime(ts.index, unit='s')
    
    return ts
    
def get_symbol_returns_custom(ts):
    rets = ts[['close']]
    rets = rets.shift(-1)
    rets.iloc[-1]['close'] = ts.tail(1)['open']
    rets = rets.shift(1) / rets - 1
    rets = rets.dropna()
    rets.index = rets.index.to_datetime()
    rets.index = rets.index.tz_localize("UTC")
    rets.columns = [ts.name]
    rets = pd.Series(rets[ts.name])
    return rets

In [2]:
rtjson = get_yahoo_finance_data('SPY', start='1/1/2017', end='12/1/2017')

In [3]:
ts = get_correct_data_format(rtjson)

In [4]:
get_symbol_returns_custom(ts)

2017-01-04 14:30:00+00:00    0.000795
2017-01-05 14:30:00+00:00   -0.003565
2017-01-06 14:30:00+00:00    0.003312
2017-01-09 14:30:00+00:00    0.000000
2017-01-10 14:30:00+00:00   -0.002818
2017-01-11 14:30:00+00:00    0.002516
2017-01-12 14:30:00+00:00   -0.002290
2017-01-13 14:30:00+00:00    0.003536
2017-01-17 14:30:00+00:00   -0.002205
2017-01-18 14:30:00+00:00    0.003718
2017-01-19 14:30:00+00:00   -0.003661
2017-01-20 14:30:00+00:00    0.002609
2017-01-23 14:30:00+00:00   -0.006371
2017-01-24 14:30:00+00:00   -0.008581
2017-01-25 14:30:00+00:00    0.001047
2017-01-26 14:30:00+00:00    0.001572
2017-01-27 14:30:00+00:00    0.006240
2017-01-30 14:30:00+00:00    0.000088
2017-01-31 14:30:00+00:00   -0.000395
2017-02-01 14:30:00+00:00   -0.000659
2017-02-02 14:30:00+00:00   -0.006846
2017-02-03 14:30:00+00:00    0.001791
2017-02-06 14:30:00+00:00   -0.000044
2017-02-07 14:30:00+00:00   -0.001309
2017-02-08 14:30:00+00:00   -0.005898
2017-02-09 14:30:00+00:00   -0.003931
2017-02-10 14:30:00+00:00   -0.005413
2017-02-13 14:30:00+00:00   -0.003979
2017-02-14 14:30:00+00:00   -0.005193
2017-02-15 14:30:00+00:00    0.000852
                               ...
2017-10-19 13:30:00+00:00   -0.005134
2017-10-20 13:30:00+00:00    0.003905
2017-10-23 13:30:00+00:00   -0.001754
2017-10-24 13:30:00+00:00    0.004975
2017-10-25 13:30:00+00:00   -0.001291
2017-10-26 13:30:00+00:00   -0.008110
2017-10-27 13:30:00+00:00    0.003739
2017-10-30 13:30:00+00:00   -0.001555
2017-10-31 13:30:00+00:00   -0.001320
2017-11-01 13:30:00+00:00   -0.000388
2017-11-02 13:30:00+00:00   -0.003328
2017-11-03 13:30:00+00:00   -0.001545
2017-11-06 14:30:00+00:00    0.000696
2017-11-07 14:30:00+00:00   -0.001698
2017-11-08 14:30:00+00:00    0.003641
2017-11-09 14:30:00+00:00    0.000310
2017-11-10 14:30:00+00:00   -0.000929
2017-11-13 14:30:00+00:00    0.002328
2017-11-14 14:30:00+00:00    0.005030
2017-11-15 14:30:00+00:00   -0.008429
2017-11-16 14:30:00+00:00    0.002947
2017-11-17 14:30:00+00:00   -0.001703
2017-11-20 14:30:00+00:00   -0.006500
2017-11-21 14:30:00+00:00    0.000885
2017-11-22 14:30:00+00:00   -0.002304
2017-11-24 14:30:00+00:00    0.000499
2017-11-27 14:30:00+00:00   -0.010043
2017-11-28 14:30:00+00:00    0.000609
2017-11-29 14:30:00+00:00   -0.008679
2017-11-30 14:30:00+00:00    0.004739
Name: SPY, Length: 230, dtype: float64

In [65]:
rets = ts[['close']]

In [66]:
rets

                          close
2017-01-03 14:30:00  225.240005
2017-01-04 14:30:00  226.580002
2017-01-05 14:30:00  226.399994
2017-01-06 14:30:00  227.210007
2017-01-09 14:30:00  226.460007
2017-01-10 14:30:00  226.460007
2017-01-11 14:30:00  227.100006
2017-01-12 14:30:00  226.529999
2017-01-13 14:30:00  227.050003
2017-01-17 14:30:00  226.250000
2017-01-18 14:30:00  226.750000
2017-01-19 14:30:00  225.910004
2017-01-20 14:30:00  226.740005
2017-01-23 14:30:00  226.149994
2017-01-24 14:30:00  227.600006
2017-01-25 14:30:00  229.570007
2017-01-26 14:30:00  229.330002
2017-01-27 14:30:00  228.970001
2017-01-30 14:30:00  227.550003
2017-01-31 14:30:00  227.529999
2017-02-01 14:30:00  227.619995
2017-02-02 14:30:00  227.770004
2017-02-03 14:30:00  229.339996
2017-02-06 14:30:00  228.929993
2017-02-07 14:30:00  228.940002
2017-02-08 14:30:00  229.240005
2017-02-09 14:30:00  230.600006
2017-02-10 14:30:00  231.509995
2017-02-13 14:30:00  232.770004
2017-02-14 14:30:00  233.699997
...                         ...
2017-10-19 13:30:00  255.789993
2017-10-20 13:30:00  257.109985
2017-10-23 13:30:00  256.109985
2017-10-24 13:30:00  256.559998
2017-10-25 13:30:00  255.289993
2017-10-26 13:30:00  255.619995
2017-10-27 13:30:00  257.709991
2017-10-30 13:30:00  256.750000
2017-10-31 13:30:00  257.149994
2017-11-01 13:30:00  257.489990
2017-11-02 13:30:00  257.589996
2017-11-03 13:30:00  258.450012
2017-11-06 14:30:00  258.850006
2017-11-07 14:30:00  258.670013
2017-11-08 14:30:00  259.109985
2017-11-09 14:30:00  258.170013
2017-11-10 14:30:00  258.089996
2017-11-13 14:30:00  258.329987
2017-11-14 14:30:00  257.730011
2017-11-15 14:30:00  256.440002
2017-11-16 14:30:00  258.619995
2017-11-17 14:30:00  257.859985
2017-11-20 14:30:00  258.299988
2017-11-21 14:30:00  259.989990
2017-11-22 14:30:00  259.760010
2017-11-24 14:30:00  260.359985
2017-11-27 14:30:00  260.230011
2017-11-28 14:30:00  262.869995
2017-11-29 14:30:00  262.709991
2017-11-30 14:30:00  265.010010

[231 rows x 1 columns]

In [68]:
rets = rets.shift(-1)

In [69]:
rets

                          close
2017-01-03 14:30:00  226.580002
2017-01-04 14:30:00  226.399994
2017-01-05 14:30:00  227.210007
2017-01-06 14:30:00  226.460007
2017-01-09 14:30:00  226.460007
2017-01-10 14:30:00  227.100006
2017-01-11 14:30:00  226.529999
2017-01-12 14:30:00  227.050003
2017-01-13 14:30:00  226.250000
2017-01-17 14:30:00  226.750000
2017-01-18 14:30:00  225.910004
2017-01-19 14:30:00  226.740005
2017-01-20 14:30:00  226.149994
2017-01-23 14:30:00  227.600006
2017-01-24 14:30:00  229.570007
2017-01-25 14:30:00  229.330002
2017-01-26 14:30:00  228.970001
2017-01-27 14:30:00  227.550003
2017-01-30 14:30:00  227.529999
2017-01-31 14:30:00  227.619995
2017-02-01 14:30:00  227.770004
2017-02-02 14:30:00  229.339996
2017-02-03 14:30:00  228.929993
2017-02-06 14:30:00  228.940002
2017-02-07 14:30:00  229.240005
2017-02-08 14:30:00  230.600006
2017-02-09 14:30:00  231.509995
2017-02-10 14:30:00  232.770004
2017-02-13 14:30:00  233.699997
2017-02-14 14:30:00  234.919998
...                         ...
2017-10-19 13:30:00  257.109985
2017-10-20 13:30:00  256.109985
2017-10-23 13:30:00  256.559998
2017-10-24 13:30:00  255.289993
2017-10-25 13:30:00  255.619995
2017-10-26 13:30:00  257.709991
2017-10-27 13:30:00  256.750000
2017-10-30 13:30:00  257.149994
2017-10-31 13:30:00  257.489990
2017-11-01 13:30:00  257.589996
2017-11-02 13:30:00  258.450012
2017-11-03 13:30:00  258.850006
2017-11-06 14:30:00  258.670013
2017-11-07 14:30:00  259.109985
2017-11-08 14:30:00  258.170013
2017-11-09 14:30:00  258.089996
2017-11-10 14:30:00  258.329987
2017-11-13 14:30:00  257.730011
2017-11-14 14:30:00  256.440002
2017-11-15 14:30:00  258.619995
2017-11-16 14:30:00  257.859985
2017-11-17 14:30:00  258.299988
2017-11-20 14:30:00  259.989990
2017-11-21 14:30:00  259.760010
2017-11-22 14:30:00  260.359985
2017-11-24 14:30:00  260.230011
2017-11-27 14:30:00  262.869995
2017-11-28 14:30:00  262.709991
2017-11-29 14:30:00  265.010010
2017-11-30 14:30:00         NaN

[231 rows x 1 columns]

In [72]:
rets.iloc[-1]['close'] = ts.tail(1)['open']

In [79]:
rets = rets.shift(1) / rets - 1

In [80]:
rets = rets.dropna()

In [81]:
rets

                        close
2017-01-04 14:30:00  0.000795
2017-01-05 14:30:00 -0.003565
2017-01-06 14:30:00  0.003312
2017-01-09 14:30:00  0.000000
2017-01-10 14:30:00 -0.002818
2017-01-11 14:30:00  0.002516
2017-01-12 14:30:00 -0.002290
2017-01-13 14:30:00  0.003536
2017-01-17 14:30:00 -0.002205
2017-01-18 14:30:00  0.003718
2017-01-19 14:30:00 -0.003661
2017-01-20 14:30:00  0.002609
2017-01-23 14:30:00 -0.006371
2017-01-24 14:30:00 -0.008581
2017-01-25 14:30:00  0.001047
2017-01-26 14:30:00  0.001572
2017-01-27 14:30:00  0.006240
2017-01-30 14:30:00  0.000088
2017-01-31 14:30:00 -0.000395
2017-02-01 14:30:00 -0.000659
2017-02-02 14:30:00 -0.006846
2017-02-03 14:30:00  0.001791
2017-02-06 14:30:00 -0.000044
2017-02-07 14:30:00 -0.001309
2017-02-08 14:30:00 -0.005898
2017-02-09 14:30:00 -0.003931
2017-02-10 14:30:00 -0.005413
2017-02-13 14:30:00 -0.003979
2017-02-14 14:30:00 -0.005193
2017-02-15 14:30:00  0.000852
...                       ...
2017-10-19 13:30:00 -0.005134
2017-10-20 13:30:00  0.003905
2017-10-23 13:30:00 -0.001754
2017-10-24 13:30:00  0.004975
2017-10-25 13:30:00 -0.001291
2017-10-26 13:30:00 -0.008110
2017-10-27 13:30:00  0.003739
2017-10-30 13:30:00 -0.001555
2017-10-31 13:30:00 -0.001320
2017-11-01 13:30:00 -0.000388
2017-11-02 13:30:00 -0.003328
2017-11-03 13:30:00 -0.001545
2017-11-06 14:30:00  0.000696
2017-11-07 14:30:00 -0.001698
2017-11-08 14:30:00  0.003641
2017-11-09 14:30:00  0.000310
2017-11-10 14:30:00 -0.000929
2017-11-13 14:30:00  0.002328
2017-11-14 14:30:00  0.005030
2017-11-15 14:30:00 -0.008429
2017-11-16 14:30:00  0.002947
2017-11-17 14:30:00 -0.001703
2017-11-20 14:30:00 -0.006500
2017-11-21 14:30:00  0.000885
2017-11-22 14:30:00 -0.002304
2017-11-24 14:30:00  0.000499
2017-11-27 14:30:00 -0.010043
2017-11-28 14:30:00  0.000609
2017-11-29 14:30:00 -0.008679
2017-11-30 14:30:00  0.004739

[230 rows x 1 columns]

In [84]:
rets.columns = [ts.name]

In [85]:
rets

                          SPY
2017-01-04 14:30:00  0.000795
2017-01-05 14:30:00 -0.003565
2017-01-06 14:30:00  0.003312
2017-01-09 14:30:00  0.000000
2017-01-10 14:30:00 -0.002818
2017-01-11 14:30:00  0.002516
2017-01-12 14:30:00 -0.002290
2017-01-13 14:30:00  0.003536
2017-01-17 14:30:00 -0.002205
2017-01-18 14:30:00  0.003718
2017-01-19 14:30:00 -0.003661
2017-01-20 14:30:00  0.002609
2017-01-23 14:30:00 -0.006371
2017-01-24 14:30:00 -0.008581
2017-01-25 14:30:00  0.001047
2017-01-26 14:30:00  0.001572
2017-01-27 14:30:00  0.006240
2017-01-30 14:30:00  0.000088
2017-01-31 14:30:00 -0.000395
2017-02-01 14:30:00 -0.000659
2017-02-02 14:30:00 -0.006846
2017-02-03 14:30:00  0.001791
2017-02-06 14:30:00 -0.000044
2017-02-07 14:30:00 -0.001309
2017-02-08 14:30:00 -0.005898
2017-02-09 14:30:00 -0.003931
2017-02-10 14:30:00 -0.005413
2017-02-13 14:30:00 -0.003979
2017-02-14 14:30:00 -0.005193
2017-02-15 14:30:00  0.000852
...                       ...
2017-10-19 13:30:00 -0.005134
2017-10-20 13:30:00  0.003905
2017-10-23 13:30:00 -0.001754
2017-10-24 13:30:00  0.004975
2017-10-25 13:30:00 -0.001291
2017-10-26 13:30:00 -0.008110
2017-10-27 13:30:00  0.003739
2017-10-30 13:30:00 -0.001555
2017-10-31 13:30:00 -0.001320
2017-11-01 13:30:00 -0.000388
2017-11-02 13:30:00 -0.003328
2017-11-03 13:30:00 -0.001545
2017-11-06 14:30:00  0.000696
2017-11-07 14:30:00 -0.001698
2017-11-08 14:30:00  0.003641
2017-11-09 14:30:00  0.000310
2017-11-10 14:30:00 -0.000929
2017-11-13 14:30:00  0.002328
2017-11-14 14:30:00  0.005030
2017-11-15 14:30:00 -0.008429
2017-11-16 14:30:00  0.002947
2017-11-17 14:30:00 -0.001703
2017-11-20 14:30:00 -0.006500
2017-11-21 14:30:00  0.000885
2017-11-22 14:30:00 -0.002304
2017-11-24 14:30:00  0.000499
2017-11-27 14:30:00 -0.010043
2017-11-28 14:30:00  0.000609
2017-11-29 14:30:00 -0.008679
2017-11-30 14:30:00  0.004739

[230 rows x 1 columns]

In [60]:




rets.index = rets.index.to_datetime()
rets.index = rets.index.tz_localize("UTC")
rets.columns = [symbol]
return rets

In [59]:
ts.shift(-1)

                          close        open
2017-01-03 14:30:00  226.580002  225.619995
2017-01-04 14:30:00  226.399994  226.270004
2017-01-05 14:30:00  227.210007  226.529999
2017-01-06 14:30:00  226.460007  226.910004
2017-01-09 14:30:00  226.460007  226.479996
2017-01-10 14:30:00  227.100006  226.360001
2017-01-11 14:30:00  226.529999  226.500000
2017-01-12 14:30:00  227.050003  226.729996
2017-01-13 14:30:00  226.250000  226.309998
2017-01-17 14:30:00  226.750000  226.539993
2017-01-18 14:30:00  225.910004  226.839996
2017-01-19 14:30:00  226.740005  226.699997
2017-01-20 14:30:00  226.149994  226.740005
2017-01-23 14:30:00  227.600006  226.399994
2017-01-24 14:30:00  229.570007  228.699997
2017-01-25 14:30:00  229.330002  229.399994
2017-01-26 14:30:00  228.970001  229.419998
2017-01-27 14:30:00  227.550003  228.169998
2017-01-30 14:30:00  227.529999  226.979996
2017-01-31 14:30:00  227.619995  227.529999
2017-02-01 14:30:00  227.770004  227.619995
2017-02-02 14:30:00  229.339996  228.820007
2017-02-03 14:30:00  228.929993  228.869995
2017-02-06 14:30:00  228.940002  229.380005
2017-02-07 14:30:00  229.240005  228.940002
2017-02-08 14:30:00  230.600006  229.240005
2017-02-09 14:30:00  231.509995  231.000000
2017-02-10 14:30:00  232.770004  232.080002
2017-02-13 14:30:00  233.699997  232.559998
2017-02-14 14:30:00  234.919998  233.449997
...                         ...         ...
2017-10-19 13:30:00  257.109985  256.700012
2017-10-20 13:30:00  256.109985  257.480011
2017-10-23 13:30:00  256.559998  256.600006
2017-10-24 13:30:00  255.289993  256.179993
2017-10-25 13:30:00  255.619995  255.990005
2017-10-26 13:30:00  257.709991  256.470001
2017-10-27 13:30:00  256.750000  256.470001
2017-10-30 13:30:00  257.149994  257.179993
2017-10-31 13:30:00  257.489990  258.040009
2017-11-01 13:30:00  257.589996  257.410004
2017-11-02 13:30:00  258.450012  257.769989
2017-11-03 13:30:00  258.850006  258.299988
2017-11-06 14:30:00  258.670013  258.970001
2017-11-07 14:30:00  259.109985  258.470001
2017-11-08 14:30:00  258.170013  257.730011
2017-11-09 14:30:00  258.089996  257.730011
2017-11-10 14:30:00  258.329987  257.309998
2017-11-13 14:30:00  257.730011  257.410004
2017-11-14 14:30:00  256.440002  256.619995
2017-11-15 14:30:00  258.619995  257.519989
2017-11-16 14:30:00  257.859985  258.220001
2017-11-17 14:30:00  258.299988  258.140015
2017-11-20 14:30:00  259.989990  259.179993
2017-11-21 14:30:00  259.760010  260.000000
2017-11-22 14:30:00  260.359985  260.320007
2017-11-24 14:30:00  260.230011  260.410004
2017-11-27 14:30:00  262.869995  260.760010
2017-11-28 14:30:00  262.709991  263.019989
2017-11-29 14:30:00  265.010010  263.760010
2017-11-30 14:30:00         NaN         NaN

[231 rows x 2 columns]

In [30]:
ts

2017-01-03 14:30:00    225.039993
2017-01-04 14:30:00    225.619995
2017-01-05 14:30:00    226.270004
2017-01-06 14:30:00    226.529999
2017-01-09 14:30:00    226.910004
2017-01-10 14:30:00    226.479996
2017-01-11 14:30:00    226.360001
2017-01-12 14:30:00    226.500000
2017-01-13 14:30:00    226.729996
2017-01-17 14:30:00    226.309998
2017-01-18 14:30:00    226.539993
2017-01-19 14:30:00    226.839996
2017-01-20 14:30:00    226.699997
2017-01-23 14:30:00    226.740005
2017-01-24 14:30:00    226.399994
2017-01-25 14:30:00    228.699997
2017-01-26 14:30:00    229.399994
2017-01-27 14:30:00    229.419998
2017-01-30 14:30:00    228.169998
2017-01-31 14:30:00    226.979996
2017-02-01 14:30:00    227.529999
2017-02-02 14:30:00    227.619995
2017-02-03 14:30:00    228.820007
2017-02-06 14:30:00    228.869995
2017-02-07 14:30:00    229.380005
2017-02-08 14:30:00    228.940002
2017-02-09 14:30:00    229.240005
2017-02-10 14:30:00    231.000000
2017-02-13 14:30:00    232.080002
2017-02-14 14:30:00    232.559998
                          ...
2017-10-19 13:30:00    254.830002
2017-10-20 13:30:00    256.700012
2017-10-23 13:30:00    257.480011
2017-10-24 13:30:00    256.600006
2017-10-25 13:30:00    256.179993
2017-10-26 13:30:00    255.990005
2017-10-27 13:30:00    256.470001
2017-10-30 13:30:00    256.470001
2017-10-31 13:30:00    257.179993
2017-11-01 13:30:00    258.040009
2017-11-02 13:30:00    257.410004
2017-11-03 13:30:00    257.769989
2017-11-06 14:30:00    258.299988
2017-11-07 14:30:00    258.970001
2017-11-08 14:30:00    258.470001
2017-11-09 14:30:00    257.730011
2017-11-10 14:30:00    257.730011
2017-11-13 14:30:00    257.309998
2017-11-14 14:30:00    257.410004
2017-11-15 14:30:00    256.619995
2017-11-16 14:30:00    257.519989
2017-11-17 14:30:00    258.220001
2017-11-20 14:30:00    258.140015
2017-11-21 14:30:00    259.179993
2017-11-22 14:30:00    260.000000
2017-11-24 14:30:00    260.320007
2017-11-27 14:30:00    260.410004
2017-11-28 14:30:00    260.760010
2017-11-29 14:30:00    263.019989
2017-11-30 14:30:00    263.760010
Name: SPY, Length: 231, dtype: float64

In [35]:
symbol = rtjson['chart']['result'][0]['meta']['symbol']
timestamps = rtjson['chart']['result'][0]['timestamp']
open_price = rtjson['chart']['result'][0]['indicators']['quote'][0]['open']
close_price = rtjson['chart']['result'][0]['indicators']['quote'][0]['close']

In [128]:
d = pd.Series({'open' : pd.Series(open_price, index=pd.to_datetime(timestamps, unit='s')),
     'close' : pd.Series(close_price, pd.to_datetime(timestamps, unit='s'))})

In [130]:
d.close

2017-01-03 14:30:00    225.240005
2017-01-04 14:30:00    226.580002
2017-01-05 14:30:00    226.399994
2017-01-06 14:30:00    227.210007
2017-01-09 14:30:00    226.460007
2017-01-10 14:30:00    226.460007
2017-01-11 14:30:00    227.100006
2017-01-12 14:30:00    226.529999
2017-01-13 14:30:00    227.050003
2017-01-17 14:30:00    226.250000
2017-01-18 14:30:00    226.750000
2017-01-19 14:30:00    225.910004
2017-01-20 14:30:00    226.740005
2017-01-23 14:30:00    226.149994
2017-01-24 14:30:00    227.600006
2017-01-25 14:30:00    229.570007
2017-01-26 14:30:00    229.330002
2017-01-27 14:30:00    228.970001
2017-01-30 14:30:00    227.550003
2017-01-31 14:30:00    227.529999
2017-02-01 14:30:00    227.619995
2017-02-02 14:30:00    227.770004
2017-02-03 14:30:00    229.339996
2017-02-06 14:30:00    228.929993
2017-02-07 14:30:00    228.940002
2017-02-08 14:30:00    229.240005
2017-02-09 14:30:00    230.600006
2017-02-10 14:30:00    231.509995
2017-02-13 14:30:00    232.770004
2017-02-14 14:30:00    233.699997
                          ...
2017-10-19 13:30:00    255.789993
2017-10-20 13:30:00    257.109985
2017-10-23 13:30:00    256.109985
2017-10-24 13:30:00    256.559998
2017-10-25 13:30:00    255.289993
2017-10-26 13:30:00    255.619995
2017-10-27 13:30:00    257.709991
2017-10-30 13:30:00    256.750000
2017-10-31 13:30:00    257.149994
2017-11-01 13:30:00    257.489990
2017-11-02 13:30:00    257.589996
2017-11-03 13:30:00    258.450012
2017-11-06 14:30:00    258.850006
2017-11-07 14:30:00    258.670013
2017-11-08 14:30:00    259.109985
2017-11-09 14:30:00    258.170013
2017-11-10 14:30:00    258.089996
2017-11-13 14:30:00    258.329987
2017-11-14 14:30:00    257.730011
2017-11-15 14:30:00    256.440002
2017-11-16 14:30:00    258.619995
2017-11-17 14:30:00    257.859985
2017-11-20 14:30:00    258.299988
2017-11-21 14:30:00    259.989990
2017-11-22 14:30:00    259.760010
2017-11-24 14:30:00    260.359985
2017-11-27 14:30:00    260.230011
2017-11-28 14:30:00    262.869995
2017-11-29 14:30:00    262.709991
2017-11-30 14:30:00    265.010010
Length: 231, dtype: float64

In [25]:
pd.to_datetime(ts.index[1])

Timestamp('2017-01-04 14:30:00')

In [26]:
pd.to_datetime(ts.index)

DatetimeIndex(['2017-01-03 14:30:00', '2017-01-04 14:30:00',
               '2017-01-05 14:30:00', '2017-01-06 14:30:00',
               '2017-01-09 14:30:00', '2017-01-10 14:30:00',
               '2017-01-11 14:30:00', '2017-01-12 14:30:00',
               '2017-01-13 14:30:00', '2017-01-17 14:30:00',
               ...
               '2017-11-16 14:30:00', '2017-11-17 14:30:00',
               '2017-11-20 14:30:00', '2017-11-21 14:30:00',
               '2017-11-22 14:30:00', '2017-11-24 14:30:00',
               '2017-11-27 14:30:00', '2017-11-28 14:30:00',
               '2017-11-29 14:30:00', '2017-11-30 14:30:00'],
              dtype='datetime64[ns]', length=231, freq=None)

In [27]:
[ts.size, ts.name, ts.index, ts.dtype]

[231, 'SPY', DatetimeIndex(['2017-01-03 14:30:00', '2017-01-04 14:30:00',
                '2017-01-05 14:30:00', '2017-01-06 14:30:00',
                '2017-01-09 14:30:00', '2017-01-10 14:30:00',
                '2017-01-11 14:30:00', '2017-01-12 14:30:00',
                '2017-01-13 14:30:00', '2017-01-17 14:30:00',
                ...
                '2017-11-16 14:30:00', '2017-11-17 14:30:00',
                '2017-11-20 14:30:00', '2017-11-21 14:30:00',
                '2017-11-22 14:30:00', '2017-11-24 14:30:00',
                '2017-11-27 14:30:00', '2017-11-28 14:30:00',
                '2017-11-29 14:30:00', '2017-11-30 14:30:00'],
               dtype='datetime64[ns]', length=231, freq=None), dtype('float64')]

In [18]:

dt = rtjson_timestamp[1:10]
p = rtjson_open_price[1:10]

NameError: name 'rtjson_timestamp' is not defined

In [17]:
df = pd.Series(p, index=pd.to_datetime(dt,unit='s'))
df

NameError: name 'p' is not defined

In [44]:
start = '1/1/2017'

In [64]:
pd.to_datetime(start)

Timestamp('2017-01-01 00:00:00')

In [63]:
pd.to_datetime(start).strftime('%s')

'1483228800'

In [62]:
datetime.datetime.utcnow()

datetime.datetime(2018, 4, 13, 20, 29, 48, 445452)

In [61]:
symbol = rtjson['chart']['result'][0]['meta']['symbol']
symbol

'SPY'

In [59]:
rtjson_timestamp = rtjson['chart']['result'][0]['timestamp']
rtjson_timestamp

[1483453800,
 1483540200,
 1483626600,
 1483713000,
 1483972200,
 1484058600,
 1484145000,
 1484231400,
 1484317800,
 1484663400,
 1484749800,
 1484836200,
 1484922600,
 1485181800,
 1485268200,
 1485354600,
 1485441000,
 1485527400,
 1485786600,
 1485873000,
 1485959400,
 1486045800,
 1486132200,
 1486391400,
 1486477800,
 1486564200,
 1486650600,
 1486737000,
 1486996200,
 1487082600,
 1487169000,
 1487255400,
 1487341800,
 1487687400,
 1487773800,
 1487860200,
 1487946600,
 1488205800,
 1488292200,
 1488378600,
 1488465000,
 1488551400,
 1488810600,
 1488897000,
 1488983400,
 1489069800,
 1489156200,
 1489411800,
 1489498200,
 1489584600,
 1489671000,
 1489757400,
 1490016600,
 1490103000,
 1490189400,
 1490275800,
 1490362200,
 1490621400,
 1490707800,
 1490794200,
 1490880600,
 1490967000,
 1491226200,
 1491312600,
 1491399000,
 1491485400,
 1491571800,
 1491831000,
 1491917400,
 1492003800,
 1492090200,
 1492435800,
 1492522200,
 1492608600,
 1492695000,
 1492781400,
 1493040600,
 1493127000,
 1493213400,
 1493299800,
 1493386200,
 1493645400,
 1493731800,
 1493818200,
 1493904600,
 1493991000,
 1494250200,
 1494336600,
 1494423000,
 1494509400,
 1494595800,
 1494855000,
 1494941400,
 1495027800,
 1495114200,
 1495200600,
 1495459800,
 1495546200,
 1495632600,
 1495719000,
 1495805400,
 1496151000,
 1496237400,
 1496323800,
 1496410200,
 1496669400,
 1496755800,
 1496842200,
 1496928600,
 1497015000,
 1497274200,
 1497360600,
 1497447000,
 1497533400,
 1497619800,
 1497879000,
 1497965400,
 1498051800,
 1498138200,
 1498224600,
 1498483800,
 1498570200,
 1498656600,
 1498743000,
 1498829400,
 1499088600,
 1499261400,
 1499347800,
 1499434200,
 1499693400,
 1499779800,
 1499866200,
 1499952600,
 1500039000,
 1500298200,
 1500384600,
 1500471000,
 1500557400,
 1500643800,
 1500903000,
 1500989400,
 1501075800,
 1501162200,
 1501248600,
 1501507800,
 1501594200,
 1501680600,
 1501767000,
 1501853400,
 1502112600,
 1502199000,
 1502285400,
 1502371800,
 1502458200,
 1502717400,
 1502803800,
 1502890200,
 1502976600,
 1503063000,
 1503322200,
 1503408600,
 1503495000,
 1503581400,
 1503667800,
 1503927000,
 1504013400,
 1504099800,
 1504186200,
 1504272600,
 1504618200,
 1504704600,
 1504791000,
 1504877400,
 1505136600,
 1505223000,
 1505309400,
 1505395800,
 1505482200,
 1505741400,
 1505827800,
 1505914200,
 1506000600,
 1506087000,
 1506346200,
 1506432600,
 1506519000,
 1506605400,
 1506691800,
 1506951000,
 1507037400,
 1507123800,
 1507210200,
 1507296600,
 1507555800,
 1507642200,
 1507728600,
 1507815000,
 1507901400,
 1508160600,
 1508247000,
 1508333400,
 1508419800,
 1508506200,
 1508765400,
 1508851800,
 1508938200,
 1509024600,
 1509111000,
 1509370200,
 1509456600,
 1509543000,
 1509629400,
 1509715800,
 1509978600,
 1510065000,
 1510151400,
 1510237800,
 1510324200,
 1510583400,
 1510669800,
 1510756200,
 1510842600,
 1510929000,
 1511188200,
 1511274600,
 1511361000,
 1511533800,
 1511793000,
 1511879400,
 1511965800,
 1512052200]

In [60]:
rtjson_open_price = rtjson['chart']['result'][0]['indicators']['quote'][0]['open']
rtjson_open_price[1:10]

[225.6199951171875,
 226.27000427246094,
 226.52999877929688,
 226.91000366210938,
 226.47999572753906,
 226.36000061035156,
 226.5,
 226.72999572753906,
 226.30999755859375]